html {
 height: 100%;
 }
body {
 padding: 0 0 0 0;
 margin: 0;
 user-select: none;
 overflow: hidden; /*from fedir*/
 cursor: crosshair;
 
}

img {
 max-width: 100%;
 height: auto;
 user-select: none;
 -moz-user-select: none;
 -webkit-user-drag: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 }
#SZ0_0 {
 position: fixed;
 top: 0;
 left: 0;
 min-width: 100%;
 min-height: 100%;
 }
 
 #SZ0_1 {
 position: fixed;
 bottom: 0;
 right: 0;
}

#SZ0_2 {
 position: fixed;
 top: 0;
 left: 0;
}

#SZ0_3 {
 position: fixed;
 top: 0;
 right: 0;
}